<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Grabador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Grabador.Properties.Settings>
            <setting name="SQLcomputer" serializeAs="String">
                <value>equipo_1</value>
            </setting>
            <setting name="SQLhost" serializeAs="String">
                <value>bidaicam.com</value>
            </setting>
            <setting name="SQLdatabase" serializeAs="String">
                <value>bidaicam_frogak</value>
            </setting>
            <setting name="SQLuser" serializeAs="String">
                <value>bidaicam_adm</value>
            </setting>
            <setting name="SQLpass" serializeAs="String">
                <value>Oliva7esperanza4casa</value>
            </setting>
            <setting name="LogsDir" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="secuencia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoDir" serializeAs="String">
                <value>videos</value>
            </setting>
            <setting name="DebugDir" serializeAs="String">
                <value>debug</value>
            </setting>
            <setting name="DestinationDir" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="GPSPort" serializeAs="String">
                <value>COM3</value>
            </setting>
        </Grabador.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AForge.Video" publicKeyToken="CBFB6E07D173C401" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge" publicKeyToken="C1DB6FF4EAA06AEB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
